{
    "printWidth": 200,
    "tabWidth": 4,
    "singleQuote": false,
    "semi": false,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "quoteProps": "consistent",
    "useTabs": true,
    "proseWrap": "always",
    "vueIndentScriptAndStyle": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "css",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "*.md",
            "options": {
                "parser": "markdown"
            }
        }
    ]
}